{% for environment in environments %}

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ environment }}-{{ app_name }}
  namespace: argocd
  labels:
    name: {{ app_name }}
spec:
  project: {{ project_name }}

  source:
    repoURL: {{ repo_url }}
    targetRevision: HEAD
    path: kustomize/{{ app_name }}/overlays/{{ environment }}

  destination:
    name: {{ dest_cluster_name }}
    namespace: {{ dest_namespace }}

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

---
{% endfor %}