apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ project_name }}
  namespace: argocd
spec:
  description: {{ project_description }}
  sourceRepos:
    - '*'
  destinations:
    - namespace: '*'
      server: '*'
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'